.layout {
  background: linear-gradient(#00000000 60%, #ff9057fa 0%, #00000000 75%)
}

.wrapper {
  z-index: -1;
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
 
.innerWrapper {
  width: 200%;
  height: 100%;
  position: fixed;
  margin: 0 auto;
  perspective: 200px;
  perspective-origin: 50% 50%;
}
 
.landscape {
  position: absolute;
  width: 250%;
  left: -80%;
  height: 100%;
  bottom: -40%;
  background-image: -webkit-linear-gradient(top, #cc5858 2px, transparent 2px), -webkit-linear-gradient(left, #cc5858 2px, transparent 2px);
  background-size: 50px 50px, 80px 80px;
  background-position: -1px -1px, -1px -1px;
  transform: rotateX(85deg);
  animation: moveUp 1s infinite linear;
}

@keyframes moveUp{
  0% {
    background-position: -1px -1px, -1px -1px;
  }
  100% {
    background-position: -50px -50px, -1px -1px;
  }
}


.retro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
}

.retro:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  filter: blur(40px);
  animation: fadeIn 1s easeIn;
  opacity: 1;
  transform: scale(1.6);
}
  
.lines {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0.9;
}
    
.line {
  width: 100%;
  position: relative;
  height: 1.4%;
  margin-bottom: 0.6%;
  background: #fff;
}

.line:nth-child(1) {
  animation: rotateLine 4s (1 * 0.2s) infinite;
}
.line:nth-child(2) {
  animation: rotateLine 4s (2 * 0.2s) infinite;
}
.line:nth-child(3) {
  animation: rotateLine 4s (3 * 0.2s) infinite;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes rotateLine {
  0% { transform: rotateX(0deg); }
  60% { transform: rotateX(60deg); }
  90% { transform: rotateX(90deg); }
  100% { transform: rotateX(0deg); }
}